img {
    max-width: 100%;
    height: auto;
}

.div {
    width: 100%;
    height: 300px;
    background-color: #eba816;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
color: brown;
}

.h2 {
color: salmon;
text-align: center;
}